version: '2'
services:
  db:
    image: postgres
    volumes:
      - ./datavolume:/var/lib/postgresql/data
  web:
    build: .
    command: ./wait-for-it.sh db:5432 -t 30 -- python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
